<div class='contents-part' >
      <%= raw @news_html %>
</div>

<div class='contents-part'>
  <h2>さっそく試験対策やってみる！<br/> ヾ(ﾟωﾟゞ)</h2>
  <h3>Linux技術者認定試験（ＬＰＩＣ） </h3>
  <p><%= link_to "LPIC レベル１（１０１）", :controller => "exams", :action => "index" %></p>
  <p><%= link_to "LPIC レベル１（１０２）", :controller => "exams", :action => "index" %></p>
</div>
<div class='contents-part'>
  <h2>上位ランカー！ (○ ･`ω・)ﾉ</h2>
  <table class="table_base">

    <tr>
      <th class="tbl_top">No</th>
      <th class="tbl_top">ユーザ</th>
    </tr>
    <% @ranking.each do |line| %>
    <tr class="<%= cycle('tbl_lineA', 'tbl_lineB') -%>">
      <% if line[:ranking] == 4 then break end %>
      <td><%= line[:ranking] %></td>
      <td><%= line[:name] %></td>
    </tr>
    <% end %>
  </table>
</div>


<div style=" clear: both;"/>

<div>
  <!-- メニューバー(exam-menu) -->
  <ul id='droppy-menu'>
    <li><a href="#">成績情報</a>
      <ul>
      <% if current_user %>
        <li><%= link_to "あなたの成績" ,stats_your_records_path %>
      <% else %>
        <li><a href="#">あなたの成績</a>
      <% end %>
      </li>
      <li><%= link_to "ランキング",stats_ranking_path %></li>
      </ul>
    </li>
    <li><a href="#">管理画面</a>
      <ul>
        <li><%= link_to "問題メンテナンス", :controller => "quizzes_list", :action => "index" %></li>
      </ul>
    </li>

      
    <% if current_user %>
        <li><a href="#"><%= current_user.name %>ログイン中</a> 
          <ul>
            <li><%= link_to "ログアウト" ,logout_path %></li>
          </ul>
        </li>
    <% else %>
        <li><a href="#">ログイン</a>
          <ul>
            <li><%= link_to "Twitterでlogin","/auth/twitter" %></li>
            <li><%= link_to "facebookでlogin", "/auth/facebook" %></li>
            <li><%= link_to "googleでlogin", "/auth/google_oauth2" %></li>
          </ul>
        </li>
    <% end %>
   </ul>
<div>
<!--
<h3>session</h3>
<h4><%= debug(session) %></h4>
<h3>current_user</h3>
<h4><%= debug(current_user) %></h4>
-->
</div>

