<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @relation.category %>
</p>

<p>
  <b>Sub category:</b>
  <%= @relation.sub_category %>
</p>


<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
