<h1>問題一覧</h1>
<div class="quizzes_list_table">
  <div class="quizzes_list_c1">ID</div>
  <div class="quizzes_list_c2">text</div>
  <div class="quizzes_list_c2">sub_text</div>
  <div class="quizzes_list_c2">choose</div>
  <div class="quizzes_list_c1">answer</div>
  <div class="quizzes_list_c1">hint</div>
  <div class="quizzes_list_c1">変更ボタン</div>
  <% @objlist.each do |quiz| %>
    <%= form_tag("/quizzes_list/edit") do %>
      <%= hidden_field_tag 'quiz_id', quiz.id %>
      <div class="quizzes_list_c1"><%= quiz.id ? quiz.id : "なし" %></div>
      <div class="quizzes_list_c2"><%= quiz.text ? quiz.text : "なし" %></div>
      <div class="quizzes_list_c2"><%= quiz.sub_text ? quiz.sub_text : "なし" %></div>
      <div class="quizzes_list_c2"><%= quiz.choose ? quiz.choose : "なし" %></div>
      <div class="quizzes_list_c1"><%= quiz.answer ? quiz.answer : "なし" %></div>
      <div class="quizzes_list_c1"><%= quiz.answer ? quiz.hint : "なし" %></div>
      <div class="quizzes_list_c1"><%= submit_tag "変更"  %></div>
    <% end %>
  <% end %>
</div>
