<!--
<h1><％＝ current_user.name ％>さんの成績</h1>
-->
<table class="table_base">
  <tr class="tbl_top">
    <th>順位</th>
    <th>名前</th>
    <th>正答回数</th>
    <th>誤答回数</th>
    <th>正答率</th>
  </tr>

<% @ranking.each do |line| %>
  <tr class="<%= cycle('tbl_lineA', 'tbl_lineB') -%>">
    <td><%= line[:ranking] %></td>
    <td><%= line[:name] %></td>
    <td><%= line[:correct_sum] %></td>
    <td><%= line[:wrong_sum] %></td>
    <td class="rate"><%= line[:rate] %></td>
  </tr>
<% end %>
</table>
