<!DOCTYPE html>
<html>
<head>
  <title>e-learning 猫パンチ</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <div id="contents">
      <%= yield %>
    </div>
    <div id="user_nav">
      <% if current_user %>
          <%= current_user.name %>さん <%= link_to "ログアウト" ,logout_path %>
      <% else %>
          <%= link_to "Twitterでlogin","/auth/twitter" %>
          <%= link_to "facebookでlogin", "/auth/facebook" %>
          <%= link_to "googleでlogin", "/auth/google_oauth2" %>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
